{% extends 'base_alumni_management.html' %}
{% block content %}
{% load static %}
<style type="text/css">
    .tab-content {
      display: none; /* Hide all tab content by default */
      transition: display 0.3s ease-in-out; /* Add smooth transition for display property */
    }

    .tab {
      cursor: pointer;
    }

    .active {
      border-bottom: blue solid 2px;
    }

</style>
<div>
    <div class="relative">
        <img src="{% static 'AlumniManagement/img/bg.svg' %}" class="w-full h-72 object-cover rounded-lg" alt="">
        </a>
    </div>
    <div class="flex items-center gap-4 mt-4">
        {% if alumni.sex == 'male' %}
            <img src="{% static "AlumniManagement/img/avatar-male.jpg" %}" class="w-28 h-28 object-cover rounded-full" alt="">
        {% else %}
            <img src="{% static "AlumniManagement/img/avatar-female.jpg" %}" class="w-28 h-28 object-cover rounded-full" alt="">
        {% endif %}
        
        <div>
            <h2 class="text-2xl font-semibold mb-2">{{alumni.fname}} {{alumni.mi}} {{alumni.lname}}</h2>
            <span class="text-lg text-gray-500">{{alumni.course_id}}</span>
        </div>
        <a href="#" class="py-2 px-4 rounded bg-blue-600 sm:flex items-center gap-2 text-white hover:bg-blue-700 ml-auto hidden">
            <i class='bx bx-edit-alt' ></i>
            Save Profile
        </a>
    </div>


    <div class="tabs mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0">
        <div class="flex-auto text-center">
            <div onclick="openTab(event, 'tab1')" data-tab="tab1" class="tab my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent">Profile</div>
        </div>
        <div class="flex-auto text-center">

            <div onclick="openTab(event, 'tab2')" class="tab my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent">Educational Background</div>
        </div>
        <div class="flex-auto text-center">

            <div onclick="openTab(event, 'tab3')" class="tab my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent">Account </div>
        </div>
    </div>


    <form class="mb-6">
        <div id="tab1" class="tab-content flex flex-wrap">
            <label>First name</label>
            <input type="text" name="fname">

            <label>Last name</label>
            <input type="text" name="lname">

            <label>Middle Initial</label>
            <input type="text" name="mi">

            <label>Suffix</label>
            <input type="text" name="suffix">

            <label>Course</label>
            <input type="text" name="course">

            <label>Sex</label>
            <input type="text" name="sex">

            <label>Religion</label>
            <input type="text" name="religion">

            <label>Marital status</label>
            <input type="text" name="marital_status">

            <label>Birthdate</label>
            <input type="text" name="date_of_birth">

            <label>Country</label>
            <input type="text" name="country">

            <label>Province</label>
            <input type="text" name="province">

            <label>City</label>
            <input type="text" name="city">

            <label>Barangay</label>
            <input type="text" name="barangay">
        </div>

        <div id="tab2" class="tab-content opacity-100 transition-opacity duration-150 ease-linear">
         asd
        </div>

        <div id="tab3" class="tab-content opacity-100 transition-opacity duration-150 ease-linear">
          <!-- Content for Tab 3 -->asdsadsad
        </div>
    </form>

<script type="text/javascript">
function openTab(evt, tabName) {
  var i, tabContent, tabLinks;

  // Get all tab content elements
  tabContent = document.getElementsByClassName("tab-content");
  for (i = 0; i < tabContent.length; i++) {
    tabContent[i].style.display = "none"; // Hide all tab content
  }

  // Get all tab link elements and remove the "active" class
  tabLinks = document.getElementsByClassName("tab");
  for (i = 0; i < tabLinks.length; i++) {
    tabLinks[i].classList.remove("active");
  }

  // Show the current tab content and add the "active" class to the clicked tab
  var currentTabContent = document.getElementById(tabName);
  currentTabContent.style.display = "block";
  evt.currentTarget.classList.add("active");
}

// Show the first tab by default when the page loads
document.addEventListener("DOMContentLoaded", function() {
  var firstTab = document.getElementsByClassName("tab")[0];
  var firstTabName = firstTab.getAttribute("data-tab");
  openTab(null, firstTabName);
});

</script>
{% endblock content %}