{% extends 'base_alumni_management.html' %}


{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<div class="main">
	

	<div class="modal h-screen w-full fixed left-0 top-5 flex justify-center items-center bg-black bg-opacity-50 hidden">
		<div class="bg-white rounder shadow-lg sm:w-2/3">
			<div class="border-b px-4 py-2 flex justify-between items-center">
				<h3 class="font-semibold text-lg">Add Alumni</h3>
				<button class="text-black closeModal">&cross;</button>
			</div>

			<div class="p-3">
				<form class="w-full max-w-full">

				  <div class="flex flex-wrap -mx-3 mb-6">
				    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
				      <label class=" block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
				        First Name
				      </label>
				      <input name="fname" class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-grey-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
				    </div>

				    <div class="w-full md:w-1/3 px-3">
				      <label name="lname" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
				        Last Name
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
				    </div>

				    <div class="w-full md:w-1/6 px-3">
				      <label name="mi" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-mi-name">
				        M.I.
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-mi-name" type="text" placeholder="Initial">
				    </div>

				    <div class="w-full md:w-1/6 px-3">
				      <label name="suffix" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-suffix-name">
				        Suffix
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-suffix-name" type="text" placeholder="Ex. Jr. / Sr.">
				    </div>
				  </div>

				  <div class="flex flex-wrap -mx-3 mb-6">
				  	<div class="w-full md:w-1/6 px-3">
				      <label name="suffix" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-alumni-id-name">
				        Alumni ID
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-alumni-id-name" type="text" placeholder="No.">
				    </div>
				    <div class="w-full md:w-1/6 px-3">
				      <label name="lname" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-course-name">
				        Course
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-course-name" type="text" placeholder="Course">
				    </div>
				    <div class="w-full md:w-1/6 px-3">
				      <label name="suffix" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-status-name">
				        Marital Status
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-status-name" type="text" placeholder="Ex. Single">
				    </div>
				    <div class="w-full md:w-1/6 px-3">
				      <label name="lname" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-sex-name">
				        Sex
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-sex-name" type="text" placeholder="M or F">
				    </div>
				    <div class="w-full md:w-1/3 px-3">
				      <label name="lname" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-religion-name">
				        Religion
				      </label>
				      <input class="transition ease-linear delay-75 bg-blue-500 focus:-translate-y-1 focus:scale-110 focus:bg-indigo-500 duration-300 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-religion-name" type="text" placeholder="Religion">
				    </div>
				  </div>
				  <div class="flex flex-wrap -mx-3 mb-2">

				    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
				      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="country">
				        Country
				      </label>
				      <div class="relative">
				        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="country">
				          <option value="">Select Country</option>
					    {% for country in countries %}
					      <option value="{{ country.id }}">{{ country.country_name }}</option>
					    {% endfor %}
				        </select>
				        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
				          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				        </div>
				      </div>
				    </div>
				    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
				      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="province">
				        Province
				      </label>
				      <div class="relative">
				        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="province">
				          <option value="">Select Province</option>
				        </select>
				        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
				          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				        </div>
				      </div>
				    </div>
				    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
				      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="city">
				        City
				      </label>
				      <div class="relative">
				        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="city">
				          <option value="">Select City</option>
				        </select>
				        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
				          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				        </div>
				      </div>
				    </div>
				    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
				      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="barangay">
				        Barangay
				      </label>
				      <div class="relative">
				        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="barangay">
				          <option value="">Select Barangay</option>
				        </select>
				        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
				          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
				        </div>
				      </div>
				    </div>

				  </div>
				</form>
			</div>
			<div class="flex justify-end items-center w-100 border-t p-3">
				<button class="bg-red-600 hover:bg-red-700 px-3 py-1 rounded text-white mr-1 closeModal">Cancel</button>
				<button class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded text-white">Submit</button>
				
			</div>
		</div>
	</div>

	<div class="flex justify-between mb-5">
		<div class="align-end">
			<button class="showModal bg-blue-600 hover:bg-blue-700 px-5 py-2.5 sm:py-2.5 sm:px-6 rounded text-white">Add</button>	
		</div>

		<div>
			<form action="" class="mx-auto" id="search-form">
				<div class="flex items-center justify-end">
				    <div class="flex border-2 border-gray-200 rounded">
				        <input type="text" class="px-4 py-2 w-32 sm:w-20 md:w-80" placeholder="Search..." id="search-input">
				        <button class="px-2 sm:px-4 text-white bg-gray-600 border-l ">
				            Search
				        </button>
				    </div>
				</div>
			</form>
		</div>
	</div>
	<div class="overflow-auto rounded-lg shadow hidden md:block" id="table-container">
		<table class="w-full">
		<thead class="bg-gray-50 border-b-2 border-gray-200">
			<tr>
				<th class="w-7 p-3 text-sm font-semibold tracking-wide text-left">ID</th>
				<th class="w-10 p-3 text-sm font-semibold tracking-wide text-left">Course</th>
				<th class="w-28 p-3 text-sm font-semibold tracking-wide text-left">First Name</th>
				<th class="w-28 p-3 text-sm font-semibold tracking-wide text-left">Last Name</th>
				<th class="w-2 p-3 text-sm font-semibold tracking-wide text-left">M.I.</th>
				<th class="w-2 p-3 text-sm font-semibold tracking-wide text-left">Sfx</th>
				<th class="w-6 p-3 text-sm font-semibold tracking-wide text-left">Sex</th>
				<th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Religion</th>
				<th class="w-16 p-3 text-sm font-semibold tracking-wide text-left">M/S</th>
				<th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Date of Birth</th>
				<th class="w-18 p-3 text-sm font-semibold tracking-wide text-left">Address</th>
				<th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Action</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-gray-100">
			
				{% for profile in profiles %}
				<tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.alumni_id}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.course_id}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.fname}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.lname}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.mi}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.suffix}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{% if profile.sex == 'male' %}M{% else %}F
					{% endif %}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.religion}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.marital_status}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.date_of_birth}}</td>
					<td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.country}}, {{profile.province}}, {{profile.city}}, {{profile.barangay}}</td>
					<td class="text-blue-500">
						<button><a href="#" class="hover:underline">Update</a></button>
						<button><a href="#" class="hover:underline">Delete</a></button>
					</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
	</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden" id="card-container">
        {% for profile in profiles %}
        <div class="bg-white space-y-2 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-2 text-sm">
                <div class="text-blue-500 font-semibold hover:underline">{{profile.alumni_id}} <br>{{profile.course_id}}</div>
                <div class="text-gray-500">{{profile.marital_status}} <br>{{profile.sex}}</div>
                <div class="p-3 text-sm text-gray-700 whitespace-nowrap text-left"> {{profile.religion}} <br>{{profile.date_of_birth}}</div>
            </div>
            <div class="text-sm text-gray-700">{{profile.country}} {{profile.province}}, {{profile.city}} {{profile.barangay}} </div>
            <div class="text-md font-bold text-black">{{profile.fname}} {{profile.mi}} {{profile.lname}} {{profile.suffix}}</div>
        </div>
        {% empty %}
        <div class="text-gray-700">No results found.</div>
        {% endfor %}
    </div>

	

</div>

<script type="text/javascript" src="{% static "AlumniManagement/js/alumni.js" %}"></script>
{% endblock content %}