{% extends 'base.html' %}


{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


	<header class="w3-container" style="padding-top:22px">
	  	<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Add Alumni</button>
	</header>

	<div class="w3-container">
	  <h2>W3.CSS Modal</h2>
	  <p>Use w3-container classes to create different sections in the modal (e.g. header & footer).</p>
	  

	  <div id="id01" class="w3-modal">
	    <div class="w3-modal-content w3-animate-zoom">

	      <header class="w3-container w3-teal"> 
	        <span onclick="document.getElementById('id01').style.display='none'" 
	        class="w3-button w3-display-topright">&times;</span>
	        <h2 class="w3-center">Add Alumni</h2>
	      </header>

	      <form class="w3-container w3-card-4 w3-light-grey" action="/">
	      	<br>
			  <label class="w3-text-blue"><b>First Name</b></label>
			  <input class="w3-input w3-border" name="first" type="text"><br>

			  <label class="w3-text-blue"><b>Last Name</b></label>
			  <input class="w3-input w3-border" name="last" type="text"><br>

			  <button class="w3-btn w3-blue">Register</button></p>
			</form>

	    </div>
	  </div>
	</div>
</div>
{% endblock content %}