{% extends 'base_alumni_management.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'AlumniManagement/css/dashboard.css' %}">
<!-- !PAGE CONTENT! -->
<div class="main">
  
  <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-6">

    <div class="rounded-3xl shadow-xl bg-blend-color bg-black p-4">
      <span class="text-gray-700 lg:text-xl">Total Alumni</span>
      <div class="text-2xl text-gray-800 lg:text-3xl flex items-center">
        <strong class="flex-grow ">31K</strong>
        <i class='bx bx-user text-5xl'></i>
      </div>
      <span class="text-gray-600">June 03, 2023</span>
    </div>

    <div class="rounded-3xl shadow-xl bg-blend-color bg-black p-4">
      <span class="text-gray-700 lg:text-xl">Curriculum</span>
      <div class="text-2xl text-gray-800 lg:text-3xl flex items-center">
        <strong class="flex-grow ">5</strong>
        <i class='bx bx-book-bookmark text-5xl'></i>
      </div>
      <span class="text-gray-600">2015-2023</span>
    </div>

    <div class="rounded-3xl shadow-xl bg-blend-color bg-black p-4">
      <span class="text-gray-700 lg:text-xl">Post Request</span>
      <div class="text-2xl text-gray-800 lg:text-3xl flex items-center">
        <strong class="flex-grow ">123215</strong>
        <i class='bx bx-message-square-add text-5xl'></i>
      </div>
    </div>

  </div>
    <hr class="mt-5 border-2">  
    <br>
  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 rounded-3xl shadow-xl bg-blend-color bg-black p-4">
    <div>
      <canvas id="related_job_chart"></canvas>
    </div>
    <div>sad</div>
  </div>
</div>

<script type="text/javascript">
let labels = [] 
let data_related = []
{% for course, analysis in course_analysis.items %}
  labels.push('{{course}}');
  data_related.push('{{ analysis.Related_Jobs }}');
{% endfor %}

const chartOptions = {
  borderColor: 'white',
  scales: {
    y: {
      ticks: {
        color: 'white'
      }
    }
  }
}
const data_related_job_chart = {
  labels: labels,
  datasets: [{
    axis: 'y',
    label: 'Job Related to Courses',
    data: data_related,
    fill: false,
    backgroundColor: [
      'rgba(255, 99, 132)',
      'rgba(255, 159, 64)',
      'rgba(255, 205, 86)',
      'rgba(75, 192, 192)',
      'rgba(54, 162, 235)',
    ],
    borderColor: chartOptions.borderColor,
    color: chartOptions.color,
    borderWidth: 1
  }]
}

const related_job_chart = document.getElementById('related_job_chart')
const related_job = new Chart(related_job_chart, {
  type: 'bar',
  data: data_related_job_chart,
  options: {
    indexAxis: 'y'
  }
})
</script>
{% endblock content %}