{% extends "base_alumni_management.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="main">
	<div style="positon:relative; height:40vh; width:80vw;display:flex;">
		<canvas id="courses_total_count"></canvas>
		<canvas id="pieChart" ></canvas>
		<canvas id="related_job_chart"></canvas>
		<canvas id="mixedChart"></canvas>
	</div>
	<div style="positon:relative; height:40vh; width:80vw;display:flex;">
		<canvas id="radar_jobs"></canvas>
	</div>
	<table>
        <tr>
            <th>Field Type</th>
            <th>Count</th>
        </tr>
        {% for alumni_count in alumni_counts %}
        <tr>
            <td>{{ alumni_count.field_type }}</td>
            <td>{{ alumni_count.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<script type="text/javascript">
let field_labels = [];
let field_jobs = [];
{% for alumni_count in alumni_counts %}
  field_labels.push('{{alumni_count.field_type}}')
	field_jobs.push('{{alumni_count.count}}')
{% endfor %}
const data_fields_jobs = {
	labels: field_labels,
	datasets: [
	{
		label: 'Jobs per Fields',
		data: field_jobs,
		borderColor: 'red',
		backgroundColor: 'red',
		fill: false
	}]
}
const radar_jobs = document.getElementById('radar_jobs')
new Chart(radar_jobs, {
	type: 'line',
	data: data_fields_jobs,
	options: {
		plugins: {
			filler: {
				propagate: false
			},
		},
		interaction: {
			intersect: false
		}
	}
})

let percent_students_list = [];
let total_students_list = [];
let job_students_list = [];
let course_title_list = [];
{% for percent_students_list, total_students_list, job_students_list, course_title_list in combination %}
	percent_students_list.push('{{percent_students_list}}');
	total_students_list.push('{{total_students_list}}');
	job_students_list.push('{{job_students_list}}');
	course_title_list.push('{{course_title_list}}');
{% endfor %}

let mixedChart = document.getElementById('mixedChart');
new Chart(mixedChart, {
	data: {
		datasets: [{
			type: 'bar',
			label: 'Total student have job within 6 months',
			data: job_students_list,
			borderColor: 'rgb(255, 99, 132)',
    	backgroundColor: 'rgba(255, 99, 132, 0.2)'
		}, {
			type: 'line',
			label: 'Total Student List',
			data: total_students_list,
			fill: false,
    	borderColor: 'rgb(54, 162, 235)'
		}],
		labels: course_title_list
	}
})

let labels = [] 
let data_related = []
{% for course, analysis in course_analysis.items %}
	labels.push('{{course}}');
	data_related.push('{{ analysis.Related_Jobs }}');
{% endfor %}
const data_related_job_chart = {
	labels: labels,
	datasets: [{
		axis: 'y',
		label: 'Job Related to Courses',
		data: data_related,
		fill: false,
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
    ],
    borderWidth: 1
	}]
}

const related_job_chart = document.getElementById('related_job_chart')
new Chart(related_job_chart, {
	type: 'bar',
	data: data_related_job_chart,
	options: {
		indexAxis: 'y'
	}
})



const data_courses_total_count = {
	labels: Object.keys({{courses_total_count|safe}}),
	datasets: [{
		label: 'Total Count of Students by Course',
		data: Object.values({{courses_total_count|safe}}),
		backgroundColor: [
	      'rgba(255, 99, 132, 0.2)',
	      'rgba(255, 159, 64, 0.2)',
	      'rgba(255, 205, 86, 0.2)',
	      'rgba(75, 192, 192, 0.2)',
	      'rgba(54, 162, 235, 0.2)'
	      ],
		borderColor: [
	      'rgb(255, 99, 132)',
	      'rgb(255, 159, 64)',
	      'rgb(255, 205, 86)',
	      'rgb(75, 192, 192)',
	      'rgb(54, 162, 235)'
	      ],
		borderWidth: 1
	}]
}
const courses_total_count = document.getElementById('courses_total_count');
new Chart(courses_total_count, {
	type: 'bar',
	data: data_courses_total_count,
	options: {
		scale: {
			y: {
				beginAtZero: true
			}
		}
	}
})



const data = {
  labels: [
    'Employed',
    'Unemployed',
  ],
  datasets: [{
    label: 'Job Percentages',
    data: [{{employed_alumni_percentage}}, {{jobless_percentage}}],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
    ],
    hoverOffset: 4
  }]
};
const pie = document.getElementById('pieChart');

new Chart(pie, {
	type: 'doughnut',
	data: data,
});
</script>

{% endblock content %}
