{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DLL {% block title %}{% endblock title %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'AlumniManagement/css/base.css' %}">
	
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	{% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == 'success' %}
		        <div onclick="exitAlertBase()" class="messages transition-opacity duration-500 bg-orange-100 border-l-4 border-orange-500 text-green-700 p-4" role="alert" id="base-alert">
				  <p class="font-bold">Success</p>
				  <p>{{ message }}</p>
				</div>
			{% elif message.tags == 'error' %}
				<div onclick="exitAlertBase()" class="messages transition-opacity duration-500 bg-orange-100 border-l-4 border-orange-500 text-red-700 p-4" role="alert" id="base-alert">
				  <p class="font-bold">Error</p>
				  <p>{{ message }}</p>
				</div>
			{% else %}
				<div onclick="exitAlertBase()" class="messages transition-opacity duration-500 bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert" id="base-alert">
				  <p class="font-bold">Be Warned</p>
				  <p>{{ message }}</p>
				</div>
	    	{% endif %}
	    {% endfor %}
	{% endif %}

	<!-- Sidebar/menu -->
	{% include "AlumniManagement/sidebar.html" %}
	<div class="main">
		{% block content %}{% endblock content %}
	</div>

	<script type="text/javascript">
	function exitAlertBase() {
		$('#base-alert').css('z-index', -100);
		$('#base-alert').css('display', 'none');
	}

	$(document).ready(function() {
	  // Fade in the messages div when the page loads
	  $('#base-alert').css('opacity', 1);
	  
	  // Set a timeout to fade out the messages div after a certain delay
	  setTimeout(function() {
	    $('#base-alert').css('opacity', 0);
		$('#base-alert').css('display', 'none');
	  }, 9000); // Adjust the delay (in milliseconds) as needed
	});
	</script>
</body>
</html>