.form {
    display: none;
}

.form.active {
    display: block;
}

#nextButton {
    display: inline-block;
}

#submitButton {
    display: none;
}

/* CSS styles for the current page button */
.current-page {
    color: blue;
    font-weight: bold;
    /* Add any other styles as desired */
}
