.main {
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 20px;
}

.messages {
    z-index: 100;
    position: fixed;
    right: 0;
    white-space: nowrap;
}
#base-alert{
  opacity: 0;
}
@media screen and (max-width:768px) {
    .main {
        margin-top: 80px;
        margin-left: 20px;
    }

}