<div class="overflow-auto rounded-lg shadow hidden md:block">
        <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr>
                <th class="w-7 p-3 text-sm font-semibold tracking-wide text-left">ID</th>
                <th class="w-10 p-3 text-sm font-semibold tracking-wide text-left">Course</th>
                <th class="w-28 p-3 text-sm font-semibold tracking-wide text-left">First Name</th>
                <th class="w-28 p-3 text-sm font-semibold tracking-wide text-left">Last Name</th>
                <th class="w-2 p-3 text-sm font-semibold tracking-wide text-left">M.I.</th>
                <th class="w-2 p-3 text-sm font-semibold tracking-wide text-left">Sfx</th>
                <th class="w-6 p-3 text-sm font-semibold tracking-wide text-left">Sex</th>
                <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Religion</th>
                <th class="w-16 p-3 text-sm font-semibold tracking-wide text-left">M/S</th>
                <th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">Date of Birth</th>
                <th class="w-18 p-3 text-sm font-semibold tracking-wide text-left">Address</th>
                <th class="w-32 p-3 text-sm font-semibold tracking-wide text-left">Action</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
            
                {% for profile in profiles %}
                <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.alumni_id}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.course_id}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.fname}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.lname}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.mi}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.suffix}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{% if profile.sex == 'male' %}M{% else %}F
                    {% endif %}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.religion}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.marital_status}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.date_of_birth}}</td>
                    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{profile.country}}, {{profile.province}}, {{profile.city}}, {{profile.barangay}}</td>
                    <td class="text-blue-500">
                        <button><a href="#" class="hover:underline">Update</a></button>
                        <button><a href="#" class="hover:underline">Delete</a></button>
                    </td>
                </tr>
                {% empty %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                  <strong class="font-bold">Holy smokes!</strong>
                  <span class="block sm:inline">No Result found.</span>
                  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                  </span>
                </div>
                {% endfor %}
        </tbody>
    </table>
</div>


    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
        {% for profile in profiles %}
        <div class="bg-white space-y-2 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-2 text-sm">
                <div class="text-blue-500 font-semibold hover:underline">{{profile.alumni_id}} <br>{{profile.course_id}}</div>
                <div class="text-gray-500">{{profile.marital_status}} <br>{{profile.sex}}</div>
                <div class="p-3 text-sm text-gray-700 whitespace-nowrap text-left"> {{profile.religion}} <br>{{profile.date_of_birth}}</div>
            </div>
            <div class="text-sm text-gray-700">{{profile.country}} {{profile.province}}, {{profile.city}} {{profile.barangay}} </div>
            <div class="text-md font-bold text-black">{{profile.fname}} {{profile.mi}} {{profile.lname}} {{profile.suffix}}</div>
        </div>
        {% empty %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">holy smokes!</strong>
              <span class="block sm:inline">no result found.</span>
              <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"><title>close</title><path d="m14.348 14.849a1.2 1.2 0 0 1-1.697 0l10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697l10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        {% endfor %}
    </div>
